doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/dist/css/bootstrap.min.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
    script(src="stylesheets/dist/js/bootstrap.min.js")
    script(src="stylesheets/dist/js/jquery.confirm.min.js")
    script(src='stylesheets/dist/js/spin.js')
    script(src='stylesheets/dist/js/application.js')
  body(class='fixed-header dashboard')
    block content